<h1>Add Event</h1>

<form method="post">
    <label for="name">Name of Event<br /></label>
    <input name="name" type="text" />
    <label for="description"><br />Event Details<br /></label>
    <input name="description" type="text" />
    <input type="submit" value="Add Event" />
</form>