<h1>Add Event</h1>

<form method="post">
    <input name="name" type="text" />
    <label for="name">Name of Event</label>
    <input name="description" type="text"/>
    <label for="description">Event Details</label>
    <input type="submit" value="Add Event" />
</form>