<h1>@ViewBag.title</h1>

<form method="post" action="/events/edit">
    <div class="form-group">
        <label for="name">Name of Event</label>
        <input name="name" value="@ViewBag.eventToEdit.Name" type="text" />
    </div>
    <div class="form-group">
        <label for="description">Event Details</label>
        <input name="description" value="@ViewBag.eventToEdit.Description" type="text" />
    </div>
    <input type="submit" value="Edit Event" />
    <input type="hidden" value="@ViewBag.eventToEdit.Id" name="eventId" />

</form>